/node_modules
/public/hot
/public/storage
/public/dist/
/public/build/
/storage/*.key
/storage/mysql
/vendor
.env
.env.backup
.env.testing
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.phpstorm.meta.php
_ide_helper.php
_ide_helper_models.php
/.idea
/public/js
/public/css
/public/mix-manifest.json
account.csv
.fleet
.DS_Store
/storage/*.csv
/storage/opensearch
.cache
.zcompdump*
.oh-my-zsh
/*.csv
/storage/debugbar

